#main {
    width: 800px;
    height: 475px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

#bottomMenu {
    position: absolute;
    bottom: 0;
    text-align: left;
    font-family: sans-serif;
    letter-spacing: 0.4pt;
}

#bottomMenuInner {
    display: block;
    color: lightgray;
}

#bottomMenuInner a {
    color: lightgray;
}
#bottomMenuInner a:hover {
    color: #4c504a;
}

#logo {
    height: 210px;
    background-image: url("../img/skate702.png");
    background-size: cover;
    background-position-y: -30px;
}

.linkInfo {
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 0.4pt;
    display: none;
    padding-top: 20px;
    color: gray;
}

#linkList {
    height: 125px;
    text-align: center;
}

.linkButton, .linkButton a {
    height: 125px;
    width: 125px;
    display: inline-block;
    vertical-align: top;
    color: dimgray;
}

.linkButton div {
    line-height: 125px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

#blindInfo {
    color: #f6f6f6;
    display: none;
}

a {
    text-decoration: none;
}


#linkJawackenInstagram a:hover, #linkInfoJawackenInstagram b {
    color: #00f20d;
}

#linkJawackenInstagram:hover ~ #linkInfoJawackenInstagram {
    display:block;
}

#linkInstagram a:hover, #linkInfoInstagram b {
    color: #f77737;
}


#linkInstagram:hover ~ #linkInfoInstagram {
    display:block;
}

#impressum {
    width: 1200px;
    height: 900px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 0.4pt;
    color: gray;
}